LDAP Directory Manager password:
ldappass
Start of uidNumber search range*

End of uidNumber search range*

New local user uidNumber*

New local user password*
password
Re-enter password*
password
New local user description*
Continue to create user type*
y

