LDAP Directory Manager password:
PPPPPPPP
End of uidNumber search range \\\[59999\\\]:

New local user uidNumber \\\[1100\\\]:

New local user password:
password
Re-enter password:
password
New local user category*

New local user description*

Continue to create local user*
y
