LDAP Directory Manager password:
PPPPPPPP
Start of uidNumber search range \\\[1000\\\]:

End of uidNumber search range \\\[59999\\\]:

New local user uidNumber

New local user password:
passw0rd
Re-enter password:
passw0rd
New local user category*

New local user description*

Continue to create local user \\\[t13502\\\]*
y
