LDAP Directory Manager password:
ldappass
New local user name:
t115901
Start of uidNumber search range \\\[1000\\\]:

End of uidNumber search range \\\[59999\\\]:

New local user uidNumber

New local user password:
password
Re-enter password:
password
New local user description*

Continue to create*
y

